<template>

  <v-container>

    <v-card
      class="ma-6 pa-6"
      outlined
    >

      <v-card-title
        class="mb-6"
      >
        <span class="headline">Class Creation</span>
      </v-card-title>

      <v-card-text>

        <form-class-creation></form-class-creation>

      </v-card-text>

    </v-card>

  </v-container>

</template>

<script>
  import FormClassCreation from "../../components/FormClassCreation";

  export default {
    name: "creation",
    components: {
      FormClassCreation
    }
  }
</script>
