<template>

  <v-container>

    <v-row>

      <v-col
        v-for="userClass in userClasses"
        :key="userClass.id"
        cols="12"
        md="3"
      >

        <!--  TODO: fix image link    -->
        <card-class-item
          image="/banner.jpg"
          :link="`/classes/${userClass.id}`"
          :name="userClass.name"
          :lecturer="userClass.lecturerName"
          :members-number="userClass.membersNumber"
        ></card-class-item>

      </v-col>

    </v-row>

  </v-container>

</template>

<script>
  import { mapGetters } from 'vuex';
  import CardClassItem from "../../components/CardClassItem";

  export default {
    name: "classes",
    components: {
      CardClassItem
    },
    data: () => ({
      userClasses: []
    }),
    computed: mapGetters('userInformation', ['getUserId']),
    async created() {
      try {
        const {data} = await this.$axios.get(`/users/${this.getUserId}/courses`);
        this.userClasses = data;
      } catch (e) {
        console.log(e.response)
      }
    }
  }
</script>
