<template>

  <v-container>

    <v-card
      class="my-6 pa-4"
    >

      <v-card-title
        class="mb-6"
      >
        <span class="headline">Class Registration</span>
      </v-card-title>

      <v-card-text>

        <form-class-registration
          @onSearchResult="setFoundedClass"
        >
        </form-class-registration>

      </v-card-text>

    </v-card>

    <v-row>

      <v-col
        v-for="foundedClass in foundedClasses"
        :key="foundedClass.id"
        cols="12"
        md="3"
      >

        <!--  TODO: fix image link    -->
        <card-class-item
          :link="`/classes/${foundedClass.id}`"
          image="/banner.jpg"
          :name="foundedClass.name"
          :lecturer="foundedClass.lecturerName"
          :members-number="foundedClass.membersNumber"
        ></card-class-item>

      </v-col>

    </v-row>

  </v-container>

</template>

<script>
  import FormClassRegistration from "../../components/FormClassRegistration";
  import CardClassItem from "../../components/CardClassItem";

  export default {
    name: "registration",
    components: {
      FormClassRegistration,
      CardClassItem
    },
    data: ()=>({
      foundedClasses: []
    }),
    methods:{
      setFoundedClass(foundedClass) {
        this.foundedClasses = foundedClass;
      }
    }
  }
</script>
