<template>

  <div>

    <navigation-drawer-class-actions
      v-if="showNavDrawer"
      :quizzes="quizzes"
    ></navigation-drawer-class-actions>

    <v-card
      class="py-md-12 px-6"
      color="primary lighten-2"
      flat
      tile
    >

      <v-container>

        <v-card-title
          class="mb-6"
        >

          <v-row
            justify="center"
            justify-md="start"
          >

            <span class="white--text text-h4 text-md-h3 font-weight-bold">{{ name }}</span>

          </v-row>

          <v-row
            justify="center"
            justify-md="end"
          >

            <v-avatar
              class="mt-6"
              size="220"
            >

              <v-img src="/banner.jpg"></v-img>

            </v-avatar>

          </v-row>

        </v-card-title>

        <v-card-text>

          <v-row
            justify="space-between"
          >

            <span class="white--text text-body-1 mb-2">{{ information }}</span>

          </v-row>

          <v-row>

            <span class="white--text text-subtitle-2">By {{ lecturerName }}</span>

          </v-row>

          <v-row
            v-if="showEnrollButton"
            class="mt-9"
          >

            <v-btn
              block
              @click="enroll"
            >

              <v-icon left>mdi-plus-circle-outline</v-icon>

              Enroll

            </v-btn>

          </v-row>

        </v-card-text>

      </v-container>

    </v-card>

  </div>

</template>

<script>
  import {mapGetters} from 'vuex'
  import NavigationDrawerClassActions from "../../../components/NavigationDrawerClassActions";

  export default {
    name: "index",
    components: {
      NavigationDrawerClassActions
    },
    data: () => ({
      name: '',
      lecturerName: '',
      information: '',
      membersNumber: 0,
      showEnrollButton: false,
      showNavDrawer: false,
      quizzes: []
    }),
    computed: {
      ...mapGetters(['isUserAuthenticated']),
      ...mapGetters('userInformation', ['getUserId']),
    },
    methods: {
      async enroll() {
        try {
          await this.$axios.put(`/users/${this.getUserId}/courses/${this.$route.params.classId}`);
          this.showEnrollButton = false;
          this.showNavDrawer = true;
          await this.fetchQuizzes();
        } catch (error) {
          console.log(error.response);
          throw({statusCode: error.response.status, message: 'Class not found'});
        }
      },
      async fetchQuizzes() {
        try {
          const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
          this.quizzes = data;
        } catch (e) {
          console.log(e)
        }
      }
    },
    async created() {
      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}`);

        this.name = data.name;
        this.lecturerName = data.lecturerName;
        this.information = data.information;
        this.membersNumber = data.membersNumber;
      } catch (error) {
        console.log(error.response);
        throw({statusCode: error.response.status, message: 'Class not found'})
      }

      console.log(this.isUserAuthenticated);
      if (this.isUserAuthenticated) {

        try {
          await this.$axios.head(`/users/${this.getUserId}/courses/${this.$route.params.classId}`);
          this.showNavDrawer = true;
          this.showEnrollButton = false;
        } catch (e) {
          this.showNavDrawer = false;
          this.showEnrollButton = true;
        }
      } else {
        this.showNavDrawer = false;
        this.showEnrollButton = false;
      }
      // this.showNavDrawer = true; // for testing only

      if (this.showNavDrawer) {
        await this.fetchQuizzes();
      }

    }
  }
</script>
