<template>

  <div>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
    ></navigation-drawer-class-actions>

    <v-container>

      <v-card
        class="ma-6 pa-6"
        outlined
      >

        <v-card-title
          class="mb-6"
        >

          <v-row
            justify="center"
            justify-md="start"
          >

            <span class="text-h4 text-md-h3 mb-4">Class Information</span>

          </v-row>

        </v-card-title>

        <v-card-text>

          <form-class-settings></form-class-settings>

        </v-card-text>

      </v-card>

    </v-container>

  </div>

</template>

<script>
  import FormClassSettings from "../../../components/FormClassSettings";
  import NavigationDrawerClassActions from "../../../components/NavigationDrawerClassActions";

  export default {
    name: "settings",
    components: {
      FormClassSettings,
      NavigationDrawerClassActions
    },
    data: () => ({
      quizzes: []
    }),
    async created() {
      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e)
      }
    }
  }
</script>
