<template>

  <div>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
    ></navigation-drawer-class-actions>

    <v-container>

      <v-row>

        <v-col
          v-for="userRole in userRoles"
          :key="userRole.user.id"
          cols="12"
        >

          <card-class-user-item
            :user-id="userRole.user.id"
            :link="`/users/${userRole.user.id}`"
          ></card-class-user-item>

        </v-col>

      </v-row>

    </v-container>

  </div>

</template>

<script>
  import CardClassUserItem from "../../../components/CardClassUserItem";
  import NavigationDrawerClassActions from "../../../components/NavigationDrawerClassActions";

  export default {
    name: "admin",
    components: {
      CardClassUserItem,
      NavigationDrawerClassActions
    },
    data: () => ({
      userRoles: [],
      quizzes: []
    }),
    async created() {

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/roles`);
        this.userRoles = data;
      } catch (e) {
        console.log(e.response)
      }

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e)
      }
    }
  }
</script>
