<template>

  <v-container>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
      :questions="questions"
    ></navigation-drawer-class-actions>

    <v-card
      class="ma-6 pa-6"
      outlined
    >

      <v-card-title
        class="mb-6"
      >

      </v-card-title>

      <v-card-text>

        <v-row
          class="mb-5"
          justify="center"
        >

          <div class="text-h5 text-md-h4 font-weight-medium">{{ name }}</div>

        </v-row>

        <v-row
          class="mb-2"
          justify="center"
        >

          <div class="text-subtitle-2 text-md-h6">{{ information }}</div>

        </v-row>

        <v-row
          justify="space-around"
          align="center"
        >

          <div class="text-subtitle-2 text-md-h6">Start Date: {{ startDate }}</div>

          <div class="text-subtitle-2 text-md-h6">End Date: {{ endDate }}</div>

        </v-row>

        <v-row
          justify="space-around"
          align="center"
        >

          <div class="text-subtitle-2 text-md-h6">Start Time: {{ startTime }}</div>

          <div class="text-subtitle-2 text-md-h6">End Time: {{ endTime }}</div>

        </v-row>

      </v-card-text>

    </v-card>

  </v-container>

</template>

<script>
  import NavigationDrawerClassActions from "../../../../../components/NavigationDrawerClassActions";

  export default {
    name: "index",
    components: {
      NavigationDrawerClassActions
    },
    data: () => ({
      name: '',
      information: '',
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      startTime: null,
      endTime: null,
      quizzes: [],
      questions: []
    }),
    async created() {

      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}`);
        this.name = data.name;
        this.information = data.information;
        let startDateTime = data.startDate.split('T');
        let endDateTime = data.endDate.split('T');
        this.startDate = startDateTime[0];
        this.endDate = endDateTime[0];
        this.startTime = startDateTime[1].split('+')[0].split('.')[0];
        this.endTime = endDateTime[1].split('+')[0].split('.')[0];
      } catch (e) {
        console.log(e)
      }

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e)
      }

      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}/questions`);
        this.questions = data;
      } catch (e) {
        console.log(e)
      }

    }
  }
</script>
