<template>

  <div>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
      :questions="questions"
    ></navigation-drawer-class-actions>

    <v-container>

      <v-card
        class="ma-6 pa-6"
        outlined
      >

        <v-card-title
          class="mb-6"
        >

          <v-row
            justify="center"
            justify-md="start"
          >

            <span class="text-h4 text-md-h3 mb-4">Quiz Information</span>

          </v-row>

        </v-card-title>

        <v-card-text>

          <form-quiz-settings></form-quiz-settings>

        </v-card-text>

      </v-card>

    </v-container>

  </div>

</template>

<script>
  import FormQuizSettings from "../../../../../components/FormQuizSettings";
  import NavigationDrawerClassActions from "../../../../../components/NavigationDrawerClassActions";

  export default {
    name: "settings",
    components: {
      FormQuizSettings,
      NavigationDrawerClassActions
    },
    data: () => ({
      quizzes: [],
      questions: [],
    }),
    async created() {

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e)
      }

      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}/questions`);
        this.questions = data;
      } catch (e) {
        console.log(e)
      }

    }
  }
</script>
