<template>

  <div>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
    ></navigation-drawer-class-actions>

    <v-container>

      <v-card
        class="ma-6 pa-6"
        outlined
      >

        <v-card-title
          class="mb-6"
        >
          <span class="headline">Quiz Creation</span>
        </v-card-title>

        <v-card-text>

          <form-quiz-creation></form-quiz-creation>

        </v-card-text>

      </v-card>

    </v-container>

  </div>

</template>

<script>
  import FormQuizCreation from "../../../../components/FormQuizCreation";
  import NavigationDrawerClassActions from "../../../../components/NavigationDrawerClassActions";

  export default {
    name: "creation",
    components: {
      FormQuizCreation,
      NavigationDrawerClassActions
    },
    data: () => ({
      quizzes: []
    }),
    async created() {
      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e)
      }
    }
  }
</script>
