<template>

  <v-app-bar
    app
    color="primary"
    dark
    flat
    clipped-right
  >

    <v-toolbar-title
      class="mr-2"
    >
      <v-btn
        icon
        nuxt
        to="/"
      >
        <v-icon large>mdi-school</v-icon>
      </v-btn>

    </v-toolbar-title>

    <v-row
      justify="start"
      dense
    >

      <v-col
        v-for="(headerButton, i) in headerButtons"
        v-bind:key="i"
      >

        <v-btn
          class="mr-2"
          text
          nuxt
          v-bind:to="headerButton.link"
        >
          {{ headerButton.name }}
        </v-btn>

      </v-col>

    </v-row>

    <v-spacer></v-spacer>

    <template
      v-if="!isUserAuthenticated"
    >

      <v-row
        justify="end"
        dense
      >

        <v-col
          cols="auto"
        >

          <v-btn
            text
            nuxt
            to="/signin"
            v-if="$route.path !== '/signin'"
          >
            Sign in
          </v-btn>

        </v-col>

        <v-col
          cols="auto"
        >

          <v-btn
            outlined
            nuxt
            to="/signup"
            v-if="$route.path !== '/signup'"
          >
            Sign up
          </v-btn>

        </v-col>

      </v-row>

    </template>

    <template
      v-else
    >

      <v-btn
        class="gray lighten-2 mr-1"
        icon
        @click="toggleDrawer"
      >

        <v-avatar
          class="grey"
        >

          <v-img
            :src="getUserProfile"
          ></v-img>

        </v-avatar>

      </v-btn>

    </template>

  </v-app-bar>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import AppNavigationDrawer from "./AppNavigationDrawer";

  export default {
    name: "AppHeader",
    data: () => ({
      headerButtons: [
        {
          name: 'About Us',
          link: '/about'
        },
      ],
    }),
    components: {
      AppNavigationDrawer
    },
    methods: mapActions(['toggleDrawer']),
    computed: {
      ...mapGetters(['isUserAuthenticated']),
      ...mapGetters('userInformation', ['getUserProfile'])
    },
  }
</script>
