<template>

  <v-navigation-drawer
    v-model="drawer"
    app
    dark
    color="primary lighten-1"
    disable-resize-watcher
  >
    <v-list-item
      class="py-2"
      color="secondary"
    >

      <v-list-item-content>
        <v-list-item-title>{{ getUserFullName }}</v-list-item-title>
        <v-list-item-action-text>{{ getUserEmail }}</v-list-item-action-text>
      </v-list-item-content>

    </v-list-item>

    <v-divider></v-divider>

    <v-list
      dense
      nav
    >

      <v-list-item
        nuxt
        :to="`/users/${getUserId}`"
        color="secondary"
      >

        <v-list-item-icon>
          <v-icon>mdi-account</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Profile</v-list-item-title>
        </v-list-item-content>

      </v-list-item>

      <template
        v-for="(item, i) in items"
      >

        <v-divider v-if="i === items.length - 1"></v-divider>

        <v-list-group
          v-if="item.subItems && (isAdmin || isNotUserItem(item.title))"
          :key="i"
          :prepend-icon="item.icon"
          no-action
          color="secondary"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(subItem, i) in item.subItems"
            :key="i"
            nuxt
            :to="subItem.link"
          >

            <v-list-item-content>
              <v-list-item-title v-text="subItem.title"></v-list-item-title>
            </v-list-item-content>

          </v-list-item>

        </v-list-group>

        <v-list-item
          v-if="!item.subItems && (isAdmin || isNotUserItem(item.title))"
          nuxt
          :to="item.link"
          color="secondary"
          @click="i === items.length - 1 ? signOut(): undefined"
        >

          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>

        </v-list-item>

      </template>

    </v-list>

  </v-navigation-drawer>

</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: "AppNavigationDrawer",
    computed: {
      drawer: {
        get() {
          return this.$store.state.drawer_opened
        },
        set(value) {
          this.$store.commit('SET_DRAWER_OPENED', value);
        }
      },
      ...mapGetters('userInformation', ['getUserId','getUserFullName', 'getUserEmail', 'getUserAccess'])
    },
    data: () => ({
      isAdmin: false,
      items: [
        {
          isAdmin: false,
          title: 'Classes', icon: 'mdi-teach',
          subItems: [
            {title: 'List', link: '/classes/list'},
            {title: 'Creation', link: '/classes/creation'},
            {title: 'Registration', link: '/classes/registration'},
          ]
        },
        {title: 'Settings', icon: 'mdi-cog', link: '/settings'},
        {
          title: 'Users', icon: 'mdi-card-account-details',
          subItems: [
            {title: 'Creation', link: '/users/creation'},
            {title: 'List', link: '/users/list'},
          ]
        },
        {title: 'Sign out', icon: 'mdi-logout-variant'},
      ],
    }),
    methods: {
      ...mapActions(['setUserAuthenticated']),
      signOut() {
        this.drawer = false;
        this.setUserAuthenticated(false);
        this.$router.push({
          path: '/'
        })
      },
      isNotUserItem(title) {
        return title !== 'Users';
      }
    },
    created() {
      this.isAdmin = this.getUserAccess === 'ADMIN';
    }
  }
</script>
