<template>

  <v-card
    ripple
    rounded
    nuxt
    :to="link"
  >
    <!--  TODO: REMOVE THIS LATER  -->

    <v-img
      :src="image"
      aspect-ratio="2"
    ></v-img>

    <v-row
      class="ma-2"
      justify="center"
    >

      <h4
        class="font-weight-bold"
      >
        {{ name }}
      </h4>

    </v-row>

    <v-row
      class="ma-2"
      justify="center"
    >

      <h5
        class="font-weight-regular"
      >
        {{ lecturer }}
      </h5>

    </v-row>

    <v-divider></v-divider>

    <v-row
      class="pa-2"
      justify="center"
    >

      <v-icon>mdi-account-multiple</v-icon>

      <h6>
        {{ membersNumber }} members
      </h6>

    </v-row>

  </v-card>

</template>

<script>
  export default {
    name: "CardClassItem",
    props: [
      'link',
      'image',
      'name',
      'lecturer',
      'membersNumber',
    ]
  }
</script>
