<template>

  <v-card
    class="ma-4 pa-4 pb-0"
    outlined
  >

    <v-card-title
      class="mb-6"
    >
      <span class="headline">{{title}}</span>
    </v-card-title>

    <v-card-text>

      <div class="mb-6">{{text}}</div>

      <v-divider></v-divider>

      <v-textarea
        class="mt-6 mb-0"
        filled
        auto-grow
        row-height="30"
        shaped
      ></v-textarea>

      <v-btn
        :loading="loading"
        color="success"
        block
        class="mt-6"
        @click="createQuiz"
      >
        Submit Answer
      </v-btn>

    </v-card-text>

  </v-card>

</template>

<script>
  export default {
    name: "CardQuestionItem",
    data: () => ({
      valid: false,
      loading: false
    }),
    props: {
      title: String,
      text: String
    }
  }
</script>

<style scoped>

</style>
