<template>

  <v-expansion-panels popout>

    <v-expansion-panel
      v-for="(item, i) in answers"
      :key="i"
    >
      <v-expansion-panel-header>{{ item.role.user.fullName }}'s Answer</v-expansion-panel-header>

      <v-expansion-panel-content>{{ item.text }}</v-expansion-panel-content>

    </v-expansion-panel>

  </v-expansion-panels>

</template>

<script>
  export default {
    name: "CardAnswersItem",
    props: {
      answers: Array
    }
  }
</script>

<style scoped>

</style>
