<template>

  <v-card
    ripple
    rounded
  >

    <v-row
      class="pa-3"
      justify="start"
      align="center"
    >

      <v-col
        cols="auto"
      >

        <v-btn
          icon
          nuxt
          :to="link"
        >

          <v-avatar>

            <v-img
              :src="image"
            ></v-img>

          </v-avatar>

        </v-btn>

      </v-col>

      <v-col
        cols="auto"
      >

        <h3
          class="font-weight-bold"
        >
          {{ fullName }}
        </h3>

      </v-col>

      <v-col
        cols="auto"
      >

        <h4
          class="font-weight-medium"
        >
          {{ email }}
        </h4>

      </v-col>

      <v-col
        cols="auto"
      >

        <v-chip
          class="ma-2"
          :color="role === 'LECTURER' ? 'indigo' : 'red'"
          text-color="white"
        >

          <v-avatar left>
            <v-icon>{{ roleIcon }}</v-icon>
          </v-avatar>

          {{ roleName }}

        </v-chip>

      </v-col>

      <v-col
      >

        <v-row
          justify="end"
        >

          <v-btn
            class="me-3"
            color="accent"
            dark
            @click="toggleRole"
          >

            Make {{ toggledRole }}

          </v-btn>

        </v-row>

      </v-col>

    </v-row>

  </v-card>

</template>

<script>
  export default {
    name: "CardClassUserItem",
    props: [
      'userId',
      'link'
    ],
    data: () => ({
      image: '/banner.jpg',
      fullName: '',
      role: '',
      email: '',
    }),
    computed: {
      roleName() {
        return this.role.charAt(0).toUpperCase() + this.role.slice(1).toLowerCase();
      },
      roleIcon() {
        return this.role === 'LECTURER' ? 'mdi-account-tie' : 'mdi-account-edit'
      },
      toggledRole() {
        return this.role === 'LECTURER' ? 'Student' : 'Lecturer';
      }
    },
    methods: {
      async toggleRole() {

        try {

          const toggledRole = this.toggledRole.toUpperCase();

          const {data} = await this.$axios.put(`courses/${this.$route.params.classId}/roles/${this.userId}`,
            {role: toggledRole});

          this.fullName = data.user.fullName;
          this.role = data.role;
          this.email = data.user.email;
        } catch (e) {
          console.log(e);
        }

      }
    },
    async created() {

      try {
        const {data} = await this.$axios.get(`courses/${this.$route.params.classId}/roles/${this.userId}`)
        this.fullName = data.user.fullName;
        this.role = data.role;
        this.email = data.user.email;
      } catch (e) {
        console.log(e);
      }
    }
  }
</script>
