<template>

  <v-card
    ripple
    rounded
    nuxt
    height="100%"
    :to="link"
  >

    <v-row
      justify="center"
      align="center"
    >

      <v-col
        cols="auto"
      >

        <v-avatar>

          <v-img
            :src="image"
          ></v-img>

        </v-avatar>

      </v-col>

    </v-row>

    <v-row
      justify="center"
      align="center"
    >

      <v-col
        cols="auto"
      >

        <h3
          class="font-weight-bold"
        >
          {{ fullName }}
        </h3>

      </v-col>

    </v-row>

    <v-row
      justify="center"
      align="center"
    >

      <v-col
        cols="auto"
      >

        <h4
          class="font-weight-medium"
        >
          {{ email }}
        </h4>

      </v-col>

    </v-row>

    <v-row
      justify="center"
      align="center"
    >

      <v-col
        cols="auto"
      >

          <v-chip
            class="ma-2"
            :color="access === 'ADMIN' ? 'indigo' : 'red'"
            text-color="white"
          >

            <v-avatar left>
              <v-icon>{{ accessIcon }}</v-icon>
            </v-avatar>

            {{ access.toUpperCase() }}

          </v-chip>

      </v-col>

    </v-row>

  </v-card>

</template>

<script>
  export default {
    name: "CardUserItem",
    props: [
      'link',
      'image',
      'fullName',
      'field',
      'email',
      'access'
    ],
    computed: {
      accessIcon() {
        return this.access === 'ADMIN' ? 'mdi-account-star' : 'mdi-account'
      }
    }
  }
</script>

<style scoped>

</style>
