<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      v-model="classData.name"
      label="Class name"
      :rules="classNameRules"
      outlined
      prepend-icon="mdi-teach"
    ></v-text-field>

    <v-text-field
      v-model="classData.lecturerName"
      label="Lecturer name"
      :rules="lecturerRules"
      outlined
      prepend-icon="mdi-account"
    ></v-text-field>

    <v-textarea
      v-model="classData.information"
      label="Class Information"
      :rules="classInformationRules"
      counter
      outlined
      prepend-icon="mdi-information-outline"
    ></v-textarea>

    <v-btn
      :disabled="!valid"
      :loading="loading"
      color="success"
      block
      class="mt-6"
      @click="createClass"
    >
      Create class
    </v-btn>

  </v-form>

</template>

<script>
  import { mapGetters } from 'vuex'
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormClassCreation",
    data: () => ({
      classData: {
        name: '',
        lecturerName: '',
        information: ''
      },
      valid: false,
      loading: false
    }),
    computed: mapGetters('userInformation', ['getUserId']),
    methods: {
      async createClass() {
        try {
          this.loading = true;
          const {data} = await this.$axios.post(`/users/${this.getUserId}/courses`, this.classData);
          this.$router.push(`/classes/${data.id}`);
        } catch (error) {
          console.log(error);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules]
  }
</script>
