<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      class="mb-3"
      v-model="quizData.name"
      label="Quiz name"
      :rules="quizNameRules"
      prepend-icon="mdi-pencil"
      outlined
    ></v-text-field>

    <v-textarea
      v-model="quizData.information"
      label="Quiz Information"
      prepend-icon="mdi-information-outline"
      outlined
    ></v-textarea>

    <v-row
      justify="space-around"
      align="center"
    >

      <label>Start Date</label>

      <v-date-picker
        v-model="startDateMenu"
        color="green lighten-1"
        header-color="primary"
        :rules="startDateRules"
      ></v-date-picker>

      <label>End Date</label>

      <v-date-picker
        v-model="endDateMenu"
        color="green lighten-1"
        header-color="primary"
        :rules="endDateRules"
      ></v-date-picker>

    </v-row>

    <v-row
      justify="space-around"
      align="center"
    >

      <label>Start Time</label>

      <v-time-picker
        v-model="startTime"
        color="green lighten-1"
        header-color="primary"
        :rules="startTimeRules"
      ></v-time-picker>

      <label>End Time</label>

      <v-time-picker
        v-model="endTime"
        color="green lighten-1"
        header-color="primary"
        :rules="endDateRules"
      ></v-time-picker>

    </v-row>

    <v-btn
      :disabled="!valid"
      color="success"
      block
      class="mt-6"
      @click="createQuiz"
    >
      Create quiz
    </v-btn>

  </v-form>

</template>

<script>
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormQuizCreation",
    data: () => ({
      quizData:{
        name: '',
        information: '',
        startDate: null,
        endDate: null
      },
      valid: false,
      loading: false,
      startDateMenu: new Date().toISOString().substr(0, 10), // TODO: add time and date picker to ui
      endDateMenu: new Date().toISOString().substr(0, 10),
      startTime: null,
      endTime: null
    }),
    methods: {
      async createQuiz() {
        try {
          this.loading = true;
          let startDate = this.startDateMenu.split('-');
          let startTime = this.startTime.split(':');
          this.quizData.startDate =  new Date(Date.UTC(parseInt(startDate[0]), parseInt(startDate[1]) - 1, parseInt(startDate[2]), parseInt(startTime[0]), parseInt(startTime[1]), 0));
          let endDate = this.endDateMenu.split('-');
          let endTime = this.endTime.split(':');
          this.quizData.endDate =  new Date(Date.UTC(parseInt(endDate[0]), parseInt(endDate[1]) - 1, parseInt(endDate[2]), parseInt(endTime[0]), parseInt(endTime[1]), 0));
          const {data} = await this.$axios.post(`/courses/${this.$route.params.classId}/quizzes`, this.quizData);
          this.$router.push(`/classes/${this.$route.params.classId}/quizzes/${data.id}`);
        } catch (error) {
          console.log(error);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules]
  }
</script>
