<template>

  <v-form>

    <v-row
      justify="start"
      align="baseline"
    >

      <v-col
        cols="12"
        md="4"
      >

        <v-text-field
          v-model="searchParameters.name"
          label="Class name"
          outlined
        ></v-text-field>

      </v-col>

      <v-col
        cols="12"
        md="4"
      >

        <v-text-field
          v-model="searchParameters.lecturerName"
          label="Lecturer name"
          outlined
        ></v-text-field>

      </v-col>

      <v-col
        class="ml-2"
        cols="12"
        md="2"
      >

        <v-btn
          color="accent"
          block
          dark
          large
          @click="findClass"
        >
          Find class
        </v-btn>

      </v-col>

    </v-row>

  </v-form>

</template>

<script>
  export default {
    name: "FormClassRegistration",
    data: () => ({
      searchParameters:{
        name: '',
        lecturerName: ''
      }
    }),
    methods: {
      async findClass() {
        try {
          const params = this.searchParameters;
          const {data} = await this.$axios.get(`/courses`, {params});
          this.$emit('onSearchResult', data);
        } catch (e) {
          console.log(e.response)
        }
      }
    }
  }
</script>
