<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      class="mb-3"
      v-model="questionData.title"
      label="Question name"
      :rules="questionNameRules"
      prepend-icon="mdi-pencil"
      outlined
    ></v-text-field>

    <v-textarea
      v-model="questionData.text"
      label="Question Body"
      prepend-icon="mdi-information-outline"
      outlined
    ></v-textarea>

    <v-btn
      :disabled="!valid"
      color="success"
      block
      class="mt-6"
      @click="createQuestion"
    >
      Create Question
    </v-btn>

  </v-form>

</template>

<script>
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormQuestionCreation",
    data: () => ({
      questionData: {
        title: '',
        text: '',
      },
      valid: false
    }),
    methods: {
      async createQuestion() {
        try {
          this.loading = true;
          const {data} = await this.$axios.post(`/quizzes/${this.$route.params.quizId}/questions`, this.questionData);
          this.$router.push(`/classes/${this.$route.params.classId}/quizzes/${this.$route.params.quizId}/questions/${data.id}`);
        } catch (error) {
          console.log(error);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules]
  }
</script>
