<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      v-model="userData.fullName"
      label="Full Name"
      outlined
      :rules="fullNameRules"
    ></v-text-field>

    <v-text-field
      v-model="userData.email"
      label="Email"
      outlined
      :rules="emailRules"
    ></v-text-field>

    <v-text-field
      v-model="userData.field"
      label="Field"
      outlined
      :rules="fieldRules"
    ></v-text-field>

    <v-textarea
      outlined
      label="About Me"
      v-model="userData.about"
      :rules="aboutRules"
      counter
    ></v-textarea>

    <!-- TODO: show dialog on success or failed -->
    <v-btn
      :disabled="!valid"
      :loading="loading"
      color="success"
      block
      class="mt-6"
      @click="update"
    >
      Update profile
    </v-btn>

  </v-form>

</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormUserSettings",
    data: () => ({
      userData: {
        fullName: '',
        email: '',
        field: '',
        about: '',
      },
      valid: false,
      loading: false
    }),
    computed: mapGetters('userInformation', [
      'getUserFullName',
      'getUserEmail',
      'getUserField',
      'getUserAbout',
    ]),
    methods: {
      ...mapActions('userInformation', ['updateUserInformation']),
      async update() {
        try {
          this.loading = true;
          await this.updateUserInformation(this.userData);
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules],
    created() {
      this.userData.fullName = this.getUserFullName;
      this.userData.email = this.getUserEmail;
      this.userData.field = this.getUserField;
      this.userData.about = this.getUserAbout;
    }
  }
</script>
