<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      v-model="classData.name"
      label="Class Name"
      outlined
      :rules="classNameRules"
    ></v-text-field>

    <v-text-field
      v-model="classData.lecturerName"
      label="Lecturer Name"
      outlined
      :rules="lecturerRules"
    ></v-text-field>

    <v-textarea
      outlined
      label="Class Information"
      v-model="classData.information"
      :rules="classInformationRules"
      counter
    ></v-textarea>

    <!-- TODO: show dialog on success or failed -->
    <v-btn
      :disabled="!valid"
      :loading="loading"
      color="success"
      block
      class="mt-6"
      @click="update"
    >
      Update Class
    </v-btn>

  </v-form>

</template>

<script>
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormClassSettings",
    data: () => ({
      classData: {
        name: '',
        lecturerName: '',
        information: ''
      },
      valid: false,
      loading: false
    }),
    methods: {
      async update() {
        try {
          this.loading = true;
          const {data} = await this.$axios.put(`/courses/${this.$route.params.classId}`, this.classData);
          this.classData.name = data.name;
          this.classData.lecturerName = data.lecturerName;
          this.classData.information = data.information;
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules],
    async created() {

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}`);
        this.classData.name = data.name;
        this.classData.lecturerName = data.lecturerName;
        this.classData.information = data.information;
      } catch (e) {
        console.log(e);
      }

    }
  }
</script>
