<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      v-model="userData.fullName"
      label="Full name"
      :rules="fullNameRules"
      outlined
      prepend-icon="mdi-account"
    ></v-text-field>

    <v-text-field
      v-model="userData.email"
      label="E-mail"
      :rules="emailRules"
      outlined
      prepend-icon="mdi-at"
    ></v-text-field>

    <v-text-field
      v-model="userData.field"
      label="Field"
      outlined
      prepend-icon="mdi-school"
    ></v-text-field>

    <v-text-field
      v-model="userData.password"
      label="Password"
      :rules="passwordRules"
      outlined
      prepend-icon="mdi-lock-question"
    ></v-text-field>

    <v-container fluid>

      <v-switch
        v-model="userData.access"
        color="accent"
        inset
        :label="`Admin Option: ${userData.access.toString()}`"
      ></v-switch>

    </v-container>

    <v-btn
      :disabled="!valid"
      color="success"
      block
      class="mt-6"
      @click="createUser"
    >
      Create User
    </v-btn>

  </v-form>

</template>

<script>
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormUserCreation",
    data: () => ({
      userData: {
        fullName: '',
        email: '',
        field: '',
        password: '',
        access: false
      },
      valid: false
    }),
    methods: {
      async createUser() {
        try {
          this.loading = true;
          if (this.userData.access === true) this.userData.access = 'ADMIN';
          else this.userData.access = 'USER';
          await this.$axios.post("/users", this.userData);
          this.userData.access = this.userData.access === 'ADMIN';
        } catch (error) {
          this.error = true;
          console.log(error);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules]
  }
</script>

<style scoped>

</style>
