<template>

  <v-form
    v-model="valid"
  >

    <v-text-field
      v-model="quizData.name"
      label="Quiz Name"
      outlined
      :rules="quizNameRules"
    ></v-text-field>

    <v-textarea
      outlined
      label="Quiz Information"
      v-model="quizData.information"
      :rules="aboutRules"
      counter
    ></v-textarea>

    <v-row
      justify="space-around"
      align="center"
    >

      <label>Start Date</label>

      <v-date-picker
        v-model="startDateMenu"
        color="green lighten-1"
        header-color="primary"
        :rules="startDateRules"
      ></v-date-picker>

      <label>End Date</label>

      <v-date-picker
        v-model="endDateMenu"
        color="green lighten-1"
        header-color="primary"
        :rules="endDateRules"
      ></v-date-picker>

    </v-row>

    <v-row
      justify="space-around"
      align="center"
    >

      <label>Start Time</label>

      <v-time-picker
        v-model="startTime"
        color="green lighten-1"
        header-color="primary"
        :rules="startTimeRules"
      ></v-time-picker>

      <label>End Time</label>

      <v-time-picker
        v-model="endTime"
        color="green lighten-1"
        header-color="primary"
        :rules="endDateRules"
      ></v-time-picker>

    </v-row>

    <!-- TODO: show dialog on success or failed -->
    <v-btn
      :disabled="!valid"
      :loading="loading"
      color="success"
      block
      class="mt-6"
      @click="update"
    >
      Update Quiz
    </v-btn>

  </v-form>

</template>

<script>
  import fieldRules from "../mixins/fieldRules";

  export default {
    name: "FormQuizSettings",
    data: () => ({
      quizData: {
        name: '',
        information: '',
        startDate: null, // TODO: fix this
        endDate: null
      },
      startDateMenu: new Date().toISOString().substr(0, 10),
      endDateMenu: new Date().toISOString().substr(0, 10),
      startTime: null,
      endTime: null,
      valid: false,
      loading: false
    }),
    methods: {
      async update() {
        try {
          this.loading = true;
          let startDate = this.startDateMenu.split('-');
          let startTime = this.startTime.split(':');
          this.quizData.startDate =  new Date(Date.UTC(parseInt(startDate[0]), parseInt(startDate[1]) - 1, parseInt(startDate[2]), parseInt(startTime[0]), parseInt(startTime[1]), 0));
          let endDate = this.endDateMenu.split('-');
          let endTime = this.endTime.split(':');
          this.quizData.endDate =  new Date(Date.UTC(parseInt(endDate[0]), parseInt(endDate[1]) - 1, parseInt(endDate[2]), parseInt(endTime[0]), parseInt(endTime[1]), 0));
          const {data} = await this.$axios.put(`/quizzes/${this.$route.params.quizId}`, this.quizData);
          this.quizData.name = data.name;
          this.quizData.information = data.information;
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      }
    },
    mixins: [fieldRules],
    async created() {

      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}`);
        this.quizData.name = data.name;
        this.quizData.information = data.information;
        this.quizData.startDate = data.startDate;
        this.quizData.endDate = data.endDate;
      } catch (e) {
        console.log(e);
      }

    }
  }
</script>
