<template>

  <v-navigation-drawer
    app
    clipped
    fixed
    permanent
    right
    mini-variant
    expand-on-hover
  >

    <v-list
      dense
    >

      <v-list-item
        nuxt
        exact
        :to="classIndexLink"
      >

        <v-list-item-icon>
          <v-icon>mdi-teach</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Class Main Page</v-list-item-title>
        </v-list-item-content>

      </v-list-item>

      <v-list-item
        nuxt
        v-if="!questions && isLecturer"
        :to="classUsersLink"
      >

        <v-list-item-icon>
          <v-icon>mdi-account-group</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Class Users</v-list-item-title>
        </v-list-item-content>

      </v-list-item>

      <v-list-group
        v-if="questions"
        prepend-icon="mdi-help"
        no-action
        :value="true"
      >

        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Questions</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item
          v-if="isLecturer"
          nuxt
          :to="questionCreationLink"
        >

          <v-list-item-content>
            <v-list-item-title>Creation</v-list-item-title>
          </v-list-item-content>

        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="(questionItem, i) in questions"
          :key="i"
          nuxt
          :to="`/classes/${$route.params.classId}/quizzes/${$route.params.quizId}/questions/${questionItem.id}`"
        >

          <v-list-item-content>
            <v-list-item-title v-text="questionItem.title"></v-list-item-title>
          </v-list-item-content>

        </v-list-item>

      </v-list-group>

      <v-list-group
        v-if="quizzes"
        prepend-icon="mdi-pencil"
        no-action
        :value="!questions"
      >

        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Quizzes</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item
          v-if="isLecturer"
          nuxt
          :to="quizCreationLink"
        >

          <v-list-item-content>
            <v-list-item-title>Creation</v-list-item-title>
          </v-list-item-content>

        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="(quizItem, i) in quizzes"
          :key="i"
          nuxt
          :to="`/classes/${$route.params.classId}/quizzes/${quizItem.id}`"
        >

          <v-list-item-content>
            <v-list-item-title v-text="quizItem.name"></v-list-item-title>
          </v-list-item-content>

        </v-list-item>

      </v-list-group>

      <v-list-item
        v-if="isLecturer"
        nuxt
        :to="settingsLink"
      >

        <v-list-item-icon>
          <v-icon>mdi-cog</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ settingsType }} settings</v-list-item-title>
        </v-list-item-content>

      </v-list-item>

    </v-list>

  </v-navigation-drawer>

</template>

<script>
  import { mapGetters} from 'vuex'

  export default {
    name: "NavigationDrawerClassActions",
    data: () => ({
      isLecturer: false,
      settingsType: '',
      settingsLink: ''
    }),
    props: {
      quizzes: Array,
      questions: Array
    },
    computed: {
      ...mapGetters('classInformation', ['getQuizzes']),
      ...mapGetters('quizInformation', ['getQuestions']),
      ...mapGetters('userInformation', ['getUserId']),
      classIndexLink() {
        return `/classes/${this.$route.params.classId}`;
      },
      classUsersLink() {
        return `/classes/${this.$route.params.classId}/users`;
      },
      quizCreationLink() {
        return `/classes/${this.$route.params.classId}/quizzes/creation`;
      },
      questionCreationLink() {
        return `/classes/${this.$route.params.classId}/quizzes/${this.$route.params.quizId}/questions/creation`;
      },
      settingsPageLink(){

      }
    },
    async created() {
      if (this.questions) {
        this.settingsType = 'Quiz';
        this.settingsLink = `/classes/${this.$route.params.classId}/quizzes/${this.$route.params.quizId}/settings`;
      } else {
        this.settingsType = 'Class';
        this.settingsLink = `/classes/${this.$route.params.classId}/settings`;
      }
      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/roles/${this.getUserId}`);
        this.isLecturer = data.role === "LECTURER";
      } catch (e) {
        console.log(e);
      }
    }
  }
</script>
