<template>

  <div>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
      :questions="questions"
    ></navigation-drawer-class-actions>

    <v-card
      class="ma-4 pa-4 pb-0"
      outlined
    >

      <v-card-title
        class="mb-6"
      >
        <span class="headline">{{ title }}</span>
      </v-card-title>

      <v-card-text>

        <div class="mb-6">{{ text }}</div>

        <v-divider></v-divider>

        <v-textarea
          class="mt-6 mb-0"
          v-model="answer"
          filled
          auto-grow
          row-height="30"
          shaped
        ></v-textarea>

        <v-btn
          v-if="isTimeValid"
          :loading="loading"
          color="success"
          block
          class="mt-6"
          @click="submitAnswer"
        >
          Submit Answer
        </v-btn>

        <v-btn
          v-if="!isTimeValid"
          color="error"
          block
          class="mt-6"
        >
          Invalid Time
        </v-btn>

      </v-card-text>

    </v-card>

    <v-divider
      v-if="isLecturer"
    ></v-divider>

    <v-row
      v-if="isLecturer"
      class="ma-2"
      justify="center"
    >

      <label
        class="ma-6"
      >See The Answers Here
      </label>

      <card-answers-item
        class="mb-4"
        :answers="answers"
      ></card-answers-item>

    </v-row>

  </div>

</template>

<script>
  import NavigationDrawerClassActions from "../../../../../../components/NavigationDrawerClassActions";
  import CardAnswersItem from "../../../../../../components/CardAnswersItem";
  import { mapGetters} from 'vuex';

  export default {
    name: "CardQuestionItem",
    components: {
      NavigationDrawerClassActions,
      CardAnswersItem
    },
    data: () => ({
      isLecturer: false,
      isTimeValid: false,
      quizzes: [],
      questions: [],
      answers: [],
      title: '',
      text: '',
      answer: '',
      valid: false,
      loading: false
    }),
    methods:{
      async submitAnswer() {
        try {
          const answer = this.answer;
          this.loading = true;
          const {data} = await this.$axios.post(`/questions/${this.$route.params.questionId}/answers`, {text: answer});
        } catch (e) {
          console.log(e)
        } finally {
          this.loading = false;
        }
      }
    },
    computed: {
      ...mapGetters('userInformation', ['getUserId']),
    },
    async created() {

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/roles/${this.getUserId}`);
        this.isLecturer = data.role === "LECTURER";
      } catch (e) {
        console.log(e);
      }
      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}`);
        let startDateTime = data.startDate.split('T');
        let endDateTime = data.endDate.split('T');
        let startDate = startDateTime[0];
        let endDate = endDateTime[0];
        let startTime = startDateTime[1].split('+')[0].split('.')[0];
        let endTime = endDateTime[1].split('+')[0].split('.')[0];
        let now = new Date;
        let currentMonth = `${now.getUTCMonth() + 1}`;
        if (currentMonth.length === 1) {
          currentMonth = `0${currentMonth}`;
        }
        let currentDay = `${now.getUTCDate()}`;
        if (currentDay.length === 1) {
          currentDay = `0${currentDay}`;
        }
        let currentDate = `${now.getUTCFullYear()}-${currentMonth}-${currentDay}`;
        let currentHour = `${now.getUTCHours()}`;
        if (currentHour.length === 1) {
          currentHour = `0${currentHour}`;
        }
        let currentMinute = `${now.getUTCMinutes()}`;
        if (currentMinute.length === 1) {
          currentMinute = `0${currentMinute}`
        }
        let currentSecond = `${now.getUTCSeconds()}`;
        if (currentSecond.length === 1) {
          currentSecond = `0${currentSecond}`
        }
        let currentTime = `${currentHour}:${currentMinute}:${currentSecond}`;
        this.isTimeValid = currentDate < endDateTime && currentDate > startDate;
        if (currentDate > startDate && currentDate === endDate && currentTime <= endTime) {
          this.isTimeValid = true;
        }
        if (currentDate === startDate && currentTime >= startTime && currentDate < endDate) {
          this.isTimeValid = true;
        }
        if (currentDate === startDate && currentTime >= startTime && currentDate === endDate && currentTime <= endTime) {
          this.isTimeValid = true;
        }
      } catch (e) {
        console.log(e);
      }

      try {
        const {data} = await this.$axios.get(`/questions/${this.$route.params.questionId}/answers`);
        this.answers = data;
        console.log(data);
      } catch (e) {
        console.log(e);
      }

      try {
        const {data} = await this.$axios.get(`/questions/${this.$route.params.questionId}`);
        this.title = data.title;
        this.text = data.text;
      } catch (e) {
        console.log(e);
      }

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e);
      }

      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}/questions`);
        this.questions = data;
      } catch (e) {
        console.log(e);
      }
    },
  }
</script>
