<template>

  <div>

    <navigation-drawer-class-actions
      :quizzes="quizzes"
      :questions="questions"
    ></navigation-drawer-class-actions>

    <v-container>

      <v-card
        class="ma-6 pa-6"
        outlined
      >

        <v-card-title
          class="mb-6"
        >
          <span class="headline">Create Question</span>
        </v-card-title>

        <v-card-text>

          <form-question-creation></form-question-creation>

        </v-card-text>

      </v-card>

    </v-container>

  </div>

</template>

<script>
  import FormQuestionCreation from "../../../../../../components/FormQuestionCreation";
  import NavigationDrawerClassActions from "../../../../../../components/NavigationDrawerClassActions";

  export default {
    name: "questionCreation",
    components: {
      FormQuestionCreation,
      NavigationDrawerClassActions
    },
    data: () => ({
      quizzes: [],
      questions: [],
    }),
    async created() {

      try {
        const {data} = await this.$axios.get(`/courses/${this.$route.params.classId}/quizzes`);
        this.quizzes = data;
      } catch (e) {
        console.log(e)
      }

      try {
        const {data} = await this.$axios.get(`/quizzes/${this.$route.params.quizId}/questions`);
        this.questions = data;
      } catch (e) {
        console.log(e)
      }
    }
  }
</script>

