<template>

  <v-container>

    <v-card
      class="ma-6 pa-6"
      outlined
    >

      <v-card-title
        class="mb-6"
      >

        <v-row
          justify="center"
        >

          <v-avatar
            class="grey lighten-2"
            size="150"
          >
            <v-img
              :src="profile"
              aspect-ratio="2"
            ></v-img>

          </v-avatar>

        </v-row>

      </v-card-title>

      <v-card-text>

        <v-row
          class="mb-5"
          justify="center"
        >

          <div class="text-h5 text-md-h4 font-weight-medium">{{ fullName }}</div>

        </v-row>

        <v-row
          class="mb-2"
          justify="center"
        >

          <div class="text-subtitle-2 text-md-h6">{{ about }}</div>

        </v-row>

      </v-card-text>

    </v-card>

  </v-container>

</template>

<script>

  export default {
    name: "profile",
    data: () => ({
      fullName: '',
      profile: '',
      field: '',
      about: ''
    }),
    async created() {
      try {
        const {data} = await this.$axios.get(`/users/${this.$route.params.userId}`);
        this.fullName = data.fullName;
        this.profile = data.profile;
        this.field = data.field;
        this.about = data.about;

      } catch (error) {
        console.log(error.response);
        throw({statusCode: error.response.status, message: 'User not found'})
      }
    }
  }
</script>
