<template>

  <v-container>

    <v-card
      class="ma-6 pa-6"
      outlined
    >

      <v-card-title
        class="mb-6"
      >
        <span class="headline">User Creation</span>
      </v-card-title>

      <v-card-text>

        <form-user-creation></form-user-creation>

      </v-card-text>

    </v-card>

  </v-container>

</template>

<script>
  import FormUserCreation from "../../components/FormUserCreation";

  export default {
    name: "creation",
    components: {
      FormUserCreation
    }
  }
</script>

<style scoped>

</style>
