<template>

  <v-container>

    <v-row>

      <v-col
        v-for="user in users"
        :key="user.id"
        cols="12"
        md="3"
      >

        <!--  TODO: fix image link    -->
        <card-user-item
          image="/banner.jpg"
          :link="`/users/${user.id}`"
          :fullName="user.fullName"
          :field="user.field"
          :email="user.email"
          :access="user.access"
        ></card-user-item>

      </v-col>

    </v-row>

  </v-container>

</template>

<script>
  import CardUserItem from "../../components/CardUserItem";

  export default {
    name: "users",
    components: {
      CardUserItem
    },
    data: () => ({
      users: []
    }),
    async created() {
      try {
        const {data} = await this.$axios.get(`/users`);
        console.log(data);
        this.users = data;
      } catch (e) {
        console.log(e.response)
      }
    }
  }
</script>

<style scoped>

</style>
