<template>

  <v-app>

    <app-navigation-drawer v-if="isUserAuthenticated"></app-navigation-drawer>

    <app-header></app-header>

    <v-main>
      <nuxt/>
    </v-main>

    <app-footer></app-footer>

  </v-app>

</template>

<script>
  import { mapGetters } from 'vuex';
  import AppNavigationDrawer from "../components/AppNavigationDrawer";
  import AppHeader from "../components/AppHeader";
  import AppFooter from "../components/AppFooter";
  import NavigationDrawerClassActions from "../components/NavigationDrawerClassActions";

  export default {
    components: {
      AppNavigationDrawer,
      AppHeader,
      AppFooter
    },
    computed: mapGetters(['isUserAuthenticated'])
  }
</script>
