<template>
  <div>

    <v-parallax
      dark
      src="/banner.jpg"
      height="600"
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col class="text-center" cols="12">

          <h1 class="display-1 font-weight-thin mb-4">Learning Management System</h1>

          <h4 class="subheading">Welcome to our site</h4>

        </v-col>

      </v-row>

    </v-parallax>

  </div>
</template>

<script>
  export default {

  }
</script>
